body {
   
}

#banner_row {
    min-height: 60vh;
    background-image: url(../img/bg_banner.jpg);
}

#banner_h1 {
    font-size: 70px;

    text-shadow: 2px 2px 5px #000000;
    font-weight: 900;
   

}

.footer {
    background-color: #000000;
}


.card {
    margin: 10px;
}


#banner_button {
    position: absolute;
    right: 19px;
    top: 2px;
    height: 45px;
}

#banner_input {
    min-height: 50px;
}

#container_carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
}

.content_card {
    max-width: 30%;
    max-height: 300px;

}

.card-img-top {

    height: 300px;
}

.content_container {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 90%;
    left: 5%;
    text-align: center;
    padding-top: 3%;
}